<form action="/list_space" method="post">
  <label for="first_name">First Name:</label>
  <input type="text" id="first_name" name="first_name"><br><br>
  <label for="last_name">Last Name:</label>
  <input type="text" id="last_name" name="last_name"><br><br>
  <label for="description">Description:</label>
  <input type="text" id="description" name="description"><br><br>
  <label for="total_price">Total Price:</label>
  <input type="text" id="total_price" name="total_price"><br><br>
  <label for="available_from">Available from:</label>
  <input type="text" id="available_from" name="available_from"><br><br>
  <label for="available_to">Available to:</label>
  <input type="text" id="available_to" name="available_to"><br><br>
  <input type="submit" value="List Space"><br><br>
</form>
