
<!DOCTYPE html>
<html
<head>
  <link href="/style.css">
	<title> 🔥FYA_HR🔥 </title>
	<!--link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
</head>
	<header>
		<h1 class="title"> 🔥FYA_HR🔥 </h1>

	</header>
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700italic');
  </style>
<body>

<!-- let's start with a basic navigation menu made from an unordered list -->

<ul class="main_menu_design">
	<a href="/home"><li class="individual_menu_items">Home</li></a>
	<a href="/notices"><li class="individual_menu_items">Notifications</li></a>
	<li class="individual_menu_items">Properties
	<!-- here we're going to next a list inside of a list. this nested list will be the dropdown menu. make sure the nested list is inside the <li> tags -->
	 <ul class="dropdown_design">
			<a href="/reserve">	<li class="dropdown_list">Reserve</li></a>
			<a href="/post"><li class="dropdown_list">Post</li></a>
		</ul>
	</li>
	 <a href="/sign_up"><li class="individual_menu_items">Sign Up</li></a>
	<a href="/login"><li class="individual_menu_items">Login</li></a>
</ul>
<h2>Notifications</h2>
<div>
</body>
