<!DOCTYPE html>
<html>
<head>
<h1> Reserve a property </h1>
  <link href="/style.css">
	<title> 🔥FYA_HR🔥 </title>
	<!--link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
</head>
	<header>
		<h1 class="title"> 🔥FYA_HR🔥 </h1>

	</header>
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700italic');
  </style>
<body>
  <ul class="main_menu_design">
  	<a href="/home"><li class="individual_menu_items">Home</li></a>
  	<a href="/requests"><li class="individual_menu_items">Notifications</li></a>
  	<li class="individual_menu_items">Properties
  	<!-- here we're going to next a list inside of a list. this nested list will be the dropdown menu. make sure the nested list is inside the <li> tags -->
  	 <ul class="dropdown_design">
  			<a href="/reserve">	<li class="dropdown_list">Reserve</li></a>
  			<a href="/post"><li class="dropdown_list">Post</li></a>
  		</ul>
  	</li>
  	 <a href="/sign_up"><li class="individual_menu_items">Sign Up</li></a>
  	<a href="/login"><li class="individual_menu_items">Login</li></a>
  </ul>
  <div>
    <h2> Reserve a property </h2>

<h3> Seaside Property: £75 per night </h3>

<form action="/reserve" method="post">

  <input type="text" name="check_in_date" placeholder="check in date">
	<input type="text" name="check_out_date" placeholder="check out_date">
  <input type="text" name="r_duration" placeholder="duration">
<input type="submit" value="Reserve">
</form>

<div>
<ul>
  <%@properties.each do |property| %>
    <li><%= property.pl_name %>
      <%= property.pl_description %>
      £<%= property.pl_price_night %>
    </li>
  <% end %>
</ul>
</div>
  </body>
